* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: transparent;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background: rgb(85, 85, 85);
}

/* ANIMATIONS */

@keyframes loading-bar-animation {
    0% {
        width: 0;
    }
    40% {
        width: 65%;
    }
    70% {
        width: 70%
    }
    100% {
        width: 80%;
    }
}

/* STRUCTURE */

html {
    width: 100vw;
    height: 100%;
    overflow: hidden;
} /* ok */

body {
    width: 100vw;
    height: 100%;
    background-image: url('../images/background/montain_background.jpg');
    background-size: cover;
    overflow: hidden;
} /* ok */

body::after {
    position: absolute;
    content: "";
    z-index: -1 !important;
    top: 70%;
    width: 102vw;
    height: 40vh;
    transform: none;
    background-color: #ffffffad;
    box-shadow: 0px 0px 10px 1px #00000079;
    transition: transform 500ms ease-out;
} /* ok */

#load_blocker {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 100%;
    visibility: visible;
    transition-duration: 200ms;
} /* ok */

#load_blocker.off {
    opacity: 0;
    visibility: hidden;
} /* ok */

/* LOGO */

#logo {
    position: relative;
    height: 100%;
    width: 100px;
    background-image: url('../images/logo/SVG/full_logo_light.svg');
    background-repeat: no-repeat;
    background-position: center center;
} /* ok */

.arrow-thin {
    width: 6px;
} /* ok */

/* SOCIAL MEDIA */

#social_media_box {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 20px;
    bottom: 3%;
    padding: 2px 8px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.897);
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.301);
} /* ok */

#social_media_box img {
    display: block;
    height: 25px;
    margin: 5px;
} /* ok */

#social_media_box img:first-child {
    animation-iteration-count: infinite;
} /* ok */

#social_media_box img:first-child:hover {
    animation-play-state: paused;
} /* ok */

/* LOADING BAR */

#loading_bar_container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}  /* ok */

#loading_bar {
    width: 0;
    height: 2px;
    background-color: blue;
    transition-duration: 200ms;
} /* ok */

#loading_bar.in-progress {
    animation: loading-bar-animation 10s forwards;
} /* ok */

/* HEADER */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px 1px #00000094;
} /* ok */

header > .header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(54, 54, 54);
    background-color: rgba(27, 27, 27, 0.980);
} /* ok */

/* SIDES */

header .side {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    margin: 0 10px;
} /* ok */

header .left-side {
    left: 0;
    justify-content: flex-start;
} /* ok */

header .right-side {
    right: 0;
    justify-content: flex-end;
} /* ok */

/* ICON-BOX */

header .icon-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 10px;
    transition-duration: 200ms;
} /* ok */

header .icon-box > img {
    cursor: pointer;
    width: 19px;
    transition-duration: 200ms;
} /* ok */

header .icon-box > span {
    cursor: pointer;
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
    color: white;
    transition-duration: 200ms;
} /* ok */

header .icon-box span:hover {
    color: rgb(160, 160, 160);
} /* ok */

header .icon-box.user-history

#calc_history_menu {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateX(250px);
    transition-duration: 200ms;
}

#calc_history_menu .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 15px;
}

#calc_history_menu .header span {
    font-family: arial;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
}

#calc_history_menu .header .x {
    cursor: pointer;
    width: 15px;
}

header .icon-box.user-history.on #calc_history_menu {
    transform: translateX(0px);
}

#calc_history_menu .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
}

#calc_history_menu .list::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
    background-color: transparent;
} /* ok */

#calc_history_menu .list::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(133, 8, 190);
} /* ok */

#calc_history_menu .list::-webkit-scrollbar-thumb:active {
    background-color: rgb(174, 0, 255);
} /* ok */

#calc_history_menu .list .no-data {
    display: block;
    margin-top: 50%;
    font-family: arial;
    font-size: 1em;
    color: white;
    text-align: center;
}

#calc_history_menu .list .option {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid rgb(44, 44, 44);
}

#calc_history_menu .list .option .trash {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 16px;
    margin: 10px;
}

#calc_history_menu .list .option .trash:hover ~ div {
    background-color: rgba(255, 0, 0, 0.452)
}

#calc_history_menu .list .option div {
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
    padding-right: 35px ;
    transition-duration: 200ms;
}

#calc_history_menu .list .option > div:hover {
    background-color: rgba(56, 56, 56, 0.753);
}

#calc_history_menu .list .option > div ~ .arrow {
    position: absolute;
    display: block;
    pointer-events: none;
    right: 0;
    width: 20px;
    margin: 20px;
    transform: translateX(60px);
    opacity: 0;
    transition-duration: 200ms;
}

#calc_history_menu .list .option > div:hover ~ .arrow {
    transform: translateX(0px);
    opacity: 100%;
}

#calc_history_menu .list .option > div span {
    display: block;
    font-family: arial;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

#calc_history_menu .list .option > div .title {
    font-size: 1.2em;
    font-style: italic;
}
#calc_history_menu .list .option > div .subtitle {
    width: fit-content;
    margin-top: 10px;
    padding: 4px 10px;
    background-color: blue;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: normal;
    color: white;
    white-space: nowrap;
    opacity: 90%;
}
#calc_history_menu .list .option > div .result-container {
    margin-top: 10px;
    padding-left: 5px;
}
#calc_history_menu .list .option > div .result-container label {
    display: block;
    width: 100%;
    font-family: arial;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 80%;
}
#calc_history_menu .list .option > div .result-container .input-value {
    font-size: 0.9em;
    color: cyan;
}
#calc_history_menu .list .option > div .result-container .result {
    margin-top: 10px;
    font-size: 1.3em;
    color: yellow;
}

/* SEARCH BAR */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

header .icon-box.search-button {
    display: none;
} /* ok */

.icon-box.login > button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: green;
    font-family: arial;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

.icon-box.user #profile_picture_icon {
    cursor: pointer;
    width: 24px;
    border-radius: 50%;
}

.icon-box.user #profile_picture_icon:hover ~ #user_container {
    opacity: 100%;
    visibility: visible;
}

#user_container {
    position: absolute;
    right: -30px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(37, 37, 37);
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition-duration: 500ms;
    transition-delay: 200ms;
}

#user_container:hover {
    opacity: 100%;
    visibility: visible;
}

#user_info_box, #user_settings_box {
    width: 100%;
}

#user_info_box .header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#user_info_box .header #profile_picture {
    width: 80px;
    border-radius: 50%;
}

#edit_profile_button {
    align-self: flex-end;
    cursor: pointer;
    width: 25px;
    filter: invert();
    transition-duration: 200ms;
}

#edit_profile_button:hover {
    opacity: 70%;
}

#user_info_box {
    width: 400px;
}

#user_info_box .header .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 15px;
}

#user_info_box .header .box:last-child {
    justify-content: space-between;
}

#user_info_box .header .box span {
    display: block;
    font-family: arial;
    font-weight: bold;
    transition-duration: 200ms;
}

#user_info_box .header .box .name {
    font-size: 1.5em;
    font-weight: normal;
    color: white;
}

#user_info_box .header .box .username {
    margin-bottom: 8px;
    font-size: 0.9em;
    color: white;
}

#user_info_box .header .box .change-picture-button {
    cursor: pointer;
    font-size: 0.7em;
    text-decoration-line: underline;
    color: rgb(0, 204, 255);
}

#deslog {
    cursor: pointer;
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 1em;
    color: rgb(0, 204, 255);
}

#user_info_box .header .box .change-picture-button:hover {
    color: rgb(0, 156, 196);
}

#deslog:hover {
    color: rgb(0, 156, 196);
}

#user_settings_box {
    width: 300px;
}

#user_settings_box .header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#user_settings_box .header span {
    font-family: arial;
    font-size: 1.4em;
    color: white;
}

#user_settings_box .header .x {
    cursor: pointer;
    width: 14px;
}

#user_update_form {
    height: 450px;
    margin-top: 20px;
}

#user_settings_box .content span {
    font-family: arial;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    align-self: flex-start;
}

#user_settings_box button[type="submit"] {
    cursor: pointer;
    width: 100%;
    height: 35px;
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, blue, purple);
    font-family: arial;
    font-size: 0.9;
    font-weight: bold;
    color: white;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.301);
    transition-duration: 200ms;
}

#user_settings_box button[type="submit"]:hover {
    transform: translateY(-5px);
}

#user_settings_box button[type="submit"]:active {
    transform: translateY(2px);
}

#user_settings_box .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* #user_settings_box .content::after {
    content: '';
    width: 90%;
    height: 3px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: rgb(134, 134, 134);
} */

#search_bar_form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    height: 100%;
} /* ok */

#search_bar {
    width: 30vw;
    height: 28px;
    padding: 0 15px;
    border: 1px solid rgb(41, 41, 41);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(15, 15, 15);
    color: rgb(228, 228, 228);
    transition-duration: 300ms;
} /* ok */

#search_bar::placeholder {
    color: rgb(146, 146, 146);
} /* ok */

#search_bar:focus {
    border: 1px solid rgb(0, 68, 255);
} /* ok */

#search_bar ~ .x {
    cursor: pointer;
    margin: 0 10px;
    opacity: 0;
    visibility: hidden;
    transition-duration: 300ms;
} /* ok */

#search_bar ~ .x > img {
    display: block;
    width: 12px;
} /* ok */

#search_bar:focus ~ .x {
    opacity: 100%;
    visibility: visible;
} /* ok */

#search_bar ~ .x:hover {
    transform: scale(1.2);
} /* ok */

#search_bar ~ .x:active {
    opacity: 100%;
    visibility: visible;
    transform: scale(0.9);
} /* ok */

#search_bar ~ .arrow-back {
    display: none;
    cursor: pointer;
} /* ok */

#search_bar_form button[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 28px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(41, 41, 41);
} /* ok */

#search_bar_form button[type="submit"] img {
    position: absolute;
    width: 12px;
    margin-right: 3px;
    transition-duration: 300ms;
} /* ok */

#search_bar_form button[type="submit"] img:nth-child(2) {
    transform: rotate(-180deg);
    opacity: 0;
    visibility: hidden;
} /* ok */

#search_bar_form button[type="submit"]:hover img:nth-child(1) {
    transform: rotate(180deg);
    opacity: 0;
    visibility: hidden;
} /* ok */

#search_bar_form button[type="submit"]:hover img:nth-child(2) {
    transform: rotate(0);
    opacity: 100%;
    visibility: visible;
} /* ok */

#datalist {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 100%;
    width: calc(100% - 32px);
    padding: 10px 0;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(36, 36, 36, 0.989);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    transition-duration: 100ms;
} /* ok */

#search_bar:focus ~ #datalist {
    opacity: 100%;
    visibility: visible;
} /* ok */

#datalist:active {
    opacity: 100%;
    visibility: visible;
} /* ok */

#datalist li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    transition-duration: 200ms;
} /* ok */

#datalist li span {
    display: block;
    cursor: pointer;
    width: 100%;
    min-height: 30px;
    padding: 5px 50px;
    font-family: arial, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: white;
    transition-duration: 200ms;
} /* ok */

#datalist li span:hover {
    background-color: #1900ff81;
} /* ok */

#datalist li img {
    position: absolute;
    pointer-events: none;
    cursor: pointer;
    left: 0;
    width: 15px;
    margin: 0 20px;
    transition-duration: 300ms;
} /* ok */

#datalist li.history {
    flex-direction: row-reverse;
} /* ok */

#datalist li.history .delete-icon {
    pointer-events: all;
    left: unset;
} /* ok */

#datalist li.history .delete-icon:hover ~ span {
    background-color: rgba(255, 0, 0, 0.74);
} /* ok */

#datalist li.history img:nth-child(2) {
    transform: rotate(180deg);
    opacity: 0;
    visibility: hidden;
} /* ok */

#datalist li.history:hover img:nth-child(1) {
    transform: rotate(180deg);
    opacity: 0;
    visibility: hidden;
} /* ok */

#datalist li.history:hover img:nth-child(2) {
    transform: rotate(360deg);
    opacity: 100%;
    visibility: visible;
} /* ok */

#datalist .no-data {
    pointer-events: none;
    display: block;
    margin: 10px 20px;
    font-family: arial, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
} /* ok */

#datalist .sub-option-container {
    display: block;
    pointer-events: none;
    cursor: default;
    min-height: unset;
    padding: 0 20px;
    background-color: transparent;
} /* ok */

#datalist .sub-option-container .option {
    pointer-events: all;
    cursor: pointer;
    max-width: 100%;
    margin: 2px 5px 4px 0;
    padding: 5px 12px;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 20px;
    background-color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em !important;
    color: white;
    overflow-x: hidden;
    overflow-wrap: break-word;
    transition-duration: 200ms;
} /* ok */

#datalist .sub-option-container .option::first-letter {
    text-transform: uppercase;
} /* ok */

#datalist .sub-option-container .option:hover {
    border-color: transparent;
    background-color: #1900ff81;
} /* ok */

/* CALC OPTION */

#calc_option {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30px;
    margin-top: 5px;
    padding: 2px 0;
    background-color: transparent;
    overflow: hidden;
} /* ok */

#calc_option::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
} /* ok */

#calc_option .control-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 50px;
    height: 30px;
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0ms;
} /* ok */

#calc_option .control-button.on {
    opacity: 100%;
    visibility: visible;
} /* ok */

#calc_option .control-button img {
    cursor: pointer;
    transition-duration: 200ms;
} /* ok */

#calc_option_control_buttonr_box {
    right: 0;
    padding-left: 30px;
    background-image: linear-gradient(to left, white, white, transparent);
} /* ok */

#calc_option_control_buttonl_box {
    left: 0;
    padding-right: 30px;
    background-image: linear-gradient(to right, white, white, transparent);
} /* ok */

#calc_option_control_buttonl_box img {
    transform: rotateY(180deg);
} /* ok */

#calc_option_control_buttonl_box img:hover {
    transform: scale(1.2) rotateY(180deg);
} /* ok */

#calc_option_control_buttonl_box img:active {
    transform: scale(0.9) rotateY(180deg);
} /* ok */

#calc_option_control_buttonr_box img:hover {
    transform: scale(1.2);
} /* ok */

#calc_option_control_buttonr_box img:active {
    transform: scale(0.9);
} /* ok */

#calc_option_mover {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    scroll-behavior: smooth;
}

#calc_option_mover li {
    list-style: none;
    height: 100%;
} /* ok */

#calc_option_mover .option {
    cursor: pointer;
    min-width: 50px;
    max-width: 180px;
    margin-right: 6px;
    padding: 5px 14px 5px 14px;
    border-radius: 15px;
    border: 1px solid rgb(182, 182, 182);
    background-color: rgb(245, 245, 245);
    font-family: arial;
    font-size: 0.8em;
    color: rgb(32, 32, 32);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition-duration: 300ms;
} /* ok */

#calc_option_mover .option:hover {
    background-color: #c0c0c0f3;
} /* ok */

#calc_option_mover .option.on {
    pointer-events: none;
    animation: calc_option_on 500ms forwards;
} /* ok */

@keyframes calc_option_on {
    100% {
        border-color: transparent;
        background-color: blue;
        color: rgb(255, 255, 255);
    }
}

.multiple-input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} /* ok */

.switch-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.switch-label {
    font-family: arial;
    font-size: 0.9em;
    color: rgb(46, 46, 46);
    font-weight: bold;
}

/* SHOW RESULT BUTTON */

#show_result_button {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    bottom: 0;
    right: 0;
    min-width: 180px;
    margin: 20px;
    padding: 10px 17px;
    border-radius: 17px;
    background-image: linear-gradient(to bottom right, red, rgb(177, 0, 0));
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.301);
    transition-duration: 200ms;
} /* ok */

#show_result_button:active {
    transform: translateY(5px);
} /* ok */

#show_result_button span {
    margin-right: 15px;
    font-family: arial, sans-serif;
    font-size: 1.1em;
    color: white;
} /* ok */

#show_result_button img {
    height: 15px;
    transform: rotate(-90deg);
} /* ok */

/* PRE CHOICE */

#pre_choice {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: -1;
    width: 100%;
    height: 42px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.692);
    background-color: rgba(27, 27, 27, 0.980);
    overflow: hidden;
    transition-duration: 200ms;
} /* ok */

#pre_choice_mover {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    height: 100%;
    padding: 0 10px;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
} /* ok */

#pre_choice_mover::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
} /* ok */

#pre_choice_mover .option {
    cursor: pointer;
    border-radius: 25px;
    max-width: 200px;
    margin: 0 4px;
    padding: 6px 10px;
    border: 1px solid #535353;
    background-color: #333333;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    font-size: 0.75em;
    color: rgb(230, 230, 230);
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    transition-duration: 500ms;
} /* ok */

#pre_choice_mover .option:hover {
    background-color: #505050;
} /* ok */

#pre_choice_mover .option.on {
    pointer-events: none;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
} /* ok */

#pre_choice .control-button {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    padding-bottom: 1px;
    opacity: 0;
    visibility: hidden;
    transition-duration: 200ms;
}

#pre_choice .control-button.on {
    opacity: 100%;
    visibility: visible;
} /* ok */

#pre_choice .control-button img {
    cursor: pointer;
    transition-duration: 200ms;
} /* ok */

#pre_choice_control_buttonl_box {
    left: 0;
    padding-right: 27px;
    background-image: linear-gradient(to right, rgb(26, 26, 26), rgb(26, 26, 26), transparent);
} /* ok */

#pre_choice_control_buttonr_box {
    right: 0;
    padding-left: 27px;
    background-image: linear-gradient(to left, rgb(26, 26, 26), rgb(26, 26, 26), transparent);
} /* ok */

#pre_choice_control_buttonl {
    transform: rotate(180deg);
} /* ok */

#pre_choice_control_buttonl:hover {
    transform: scale(1.2) rotate(180deg);
} /* ok */

#pre_choice_control_buttonl:active {
    transform: scale(0.9) rotate(180deg);
} /* ok */

#pre_choice_control_buttonr:hover {
    transform: scale(1.2);
} /* ok */

#pre_choice_control_buttonr:active {
    transform: scale(0.9);
} /* ok */

/* MAIN */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 85px;
    opacity: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition-duration: 200ms;
} /* ok */

main.off {
    opacity: 0;
} /* ok */

main::-webkit-scrollbar {
    width: 7px;
    border-radius: 20px;
    background-color: transparent;
} /* ok */

main::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(133, 8, 190);
} /* ok */

main::-webkit-scrollbar-thumb:active {
    background-color: rgb(174, 0, 255);
} /* ok */
main::-webkit-scrollbar-track-piece:start {
    margin-top: 85px; 
} /* ok */

.or-input-separation {
    align-self: center;
    font-family: Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    color: rgb(17, 17, 17);
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
} /* ok */

/* MENU */

#menu_icon_box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    width: 20px;
    height: 15px;
} /* ok */

#menu_icon_box .line {
    width: 100%;
    height: 2px;
    transform: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    will-change: transform;
    transition-duration: 500ms;
} /* ok */

#menu_icon_box.on .line:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
} /* ok */

#menu_icon_box.on .line:nth-child(2) {
    transform: scale(0);
} /* ok */

#menu_icon_box.on .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
} /* ok */

#menu_container {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    border-top-left-radius: 20px;
    background-color: rgba(0, 0, 0, 0.973);
    will-change: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
} /* ok */

#menu_icon_box.on ~ #menu_container {
    transform: none;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.24);
} /* ok */

#menu_list {
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 50px;
    padding: 20px 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    will-change: opacity;
    transition-duration: 100ms;
} /* ok */

#menu_icon_box.on ~ #menu_container #menu_list {
    opacity: 100%;
    transition-delay: 500ms;
    transition-duration: 500ms;
} /* ok */

#menu_list::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
    background-color: transparent;
} /* ok */

#menu_list::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(133, 8, 190);
} /* ok */

#menu_list::-webkit-scrollbar-thumb:active {
    background-color: rgb(174, 0, 255);
} /* ok */

#menu_list .divisor {
    width: 80%;
    height: 2px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(129, 129, 129, 0.5);
} 

#menu_list > .option {
    width: 100%;
    transition-duration: 500ms;
} /* ok */


#menu_list > .option > span {
    display: block;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    padding: 5px 20px;
    font-family: arial;
    font-size: 1.2em;
    color: white;
    transition-duration: 400ms;
} /* ok */

#menu_list > .option > span::first-letter {
    text-transform: uppercase;
} /* ok */

#menu_list .option.on span {
    color: blue !important;
    transform: rotate(-5deg)
} /* ok */

#menu_list .option .sub-option-container {
    width: 100%;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition-duration: 500ms;
} /* ok */

#menu_list > .option.on > .sub-option-container {
    max-height: 1000px;
    opacity: 100%;
    visibility: visible;
    transition-duration: 700ms;
} /* ok */

#menu_list .option .sub-option-container .option {
    cursor: pointer;
    width: 100%;
    padding: 0 50px;
    font-family: arial;
    font-size: 0;
    color: white;
    transition-duration: 200ms;
} /* ok */

#menu_list > .option.on > .sub-option-container .option {
    padding: 5px 50px;
    font-size: 1em;
} /* ok */

#menu_list .option .sub-option-container .option::first-letter {
    text-transform: uppercase;
} /* ok */

/* MAIN CONTAINER */

#main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 500px;
} /* ok */

@keyframes calc-option-on-black {
    0% {
        border: 1px solid #535353 !important;
        background-color: #333333 !important;
        color: rgb(230, 230, 230) !important;
    }
    100% {
        border: 1px solid transparent !important;
        background-color: rgb(0, 26, 255) !important;
        color: rgb(255, 255, 255) !important;
    }
}

[type="calc"] #data_box_form {
    animation-duration: 500ms;
} /* ok */

[type="calc"] #data_box_form .divisor {
    display: none;
    width: 90%;
    height: 3px;
    margin: 20px 0 30px 0;
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
} /* ok */

/* SLIDER */

/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgb(204, 0, 0);
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 20px;
width: 20px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: blue;
}

input:checked + .slider:before {
-webkit-transform: translateX(32px);
-ms-transform: translateX(32px);
transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* THEME SWITCH */

#theme_switch_box {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 28px;
    margin: 10px;
    opacity: 40%;
} /* ok */

#theme_switch ~ .slider:before {
    width: 20px;
    height: 20px;
    background-color: yellow;
    transition-duration: 1000ms;
} /* ok */

#theme_switch ~ .slider {
    background-color: #0044ff;
    transition-duration: 1000ms;
} /* ok */

#theme_switch:checked ~ .slider:before {
    background-color: white;
    transform: translateX(30px);
} /* ok */

#theme_switch:checked ~ .slider {
    background-color: #3000b3;
} /* ok */

#theme_switch ~ .slider::after {
    position: absolute;
    content: "";
    left: 6px;
    top: 4px;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #0044ff;
    transition-duration: 1000ms;
} /* ok */

#theme_switch:checked ~ .slider::after {
    width: 16px;
    height: 16px;
    background-color: #3000b3;
    transform: translateX(22px);
} /* ok */

#data_box_result_full_background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    opacity: 0;
    transition-duration: 500ms;
} /* ok */

#data_box_result_full_background.on {
    opacity: 100%;
    transition-delay: 100ms;
} /* ok */

/* CALC */

/* DATA CONTAINER */

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    max-width: calc(100vw - 20px);
    margin-bottom: 5vh;
    padding: 10px;
    transition-duration: 1000ms;
} /* ok */

/* DATA BOX */

.data-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 400px;
    max-width: 100%;
    padding: 20px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.274);
} /* ok */

.data-box .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
} /* ok */

.data-box .header span, .data-box .header h1 {
    display: block;
    max-width: 90%;
    margin-left: 5px;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(20, 20, 20);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} /* ok */

#data_box_form_input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
    margin-top: 5px;
    padding-bottom: 45px;
} /* ok */

#calculate_button {
    cursor: pointer;
    width: 100%;
    height: 28px;
    min-height: 28px;
    border-radius: 13px;
    background-image: linear-gradient(to bottom right, blue, purple);
    font-family: arial;
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.301);
    transition-duration: 500ms;
} /* ok */

#calculate_button:hover {
    transform: translateY(-6px);
} /* ok */

#calculate_button:active {
    transform: translateY(5px);
} /* ok */

/* message */

#message_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 150;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
} /* ok */

.message-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    width: 400px;
    max-width: calc(100vw - 20px);
    margin: 5px 0;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.212);
    transition-duration: 200ms;
} /* ok */

.message-box span {
    display: block;
    margin: 0 10px;
    font-family: arial;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.1em;
} /* ok */

.message-box span::first-letter {
    text-transform: capitalize;
} /* ok */

.message-box.normal {
    background-color: rgba(255, 255, 255, 0.9);
} /* ok */

.message-box.normal span {
    color: black;
} /* ok */

.message-box.red {
    background-color: rgba(255, 0, 0, 0.9);
} /* ok */

.message-box.red span {
    color: white;
} /* ok */

.message-box.green {
    background-color: rgba(0, 255, 0, 0.9);
} /* ok */

.message-box.green span {
    color: white;
} /* ok */

@keyframes fade_out_up {
    from {
        transform: translateY(0px);
        opacity: 100%;
        visibility: visible;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
        visibility: hidden;
    }
}

.animated.fade-out-up {
    animation: fade_out_up 200ms ease-in forwards;
}

@keyframes fade_in_down {
    from {
        transform: translateY(-50px);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateY(0px);
        opacity: 100%;
        visibility: visible;
    }
}

.animated.fade-in-down {
    animation: fade_in_down 200ms ease-out forwards;
}


/* RESULT BOX */

#zzz {
    margin: 20px 0;
    font-family: arial;
    font-size: 3em;
    font-weight: bold;
    color: rgb(124, 0, 173);
    text-align: center;
    opacity: 100%;
    transition-duration: 200ms;
} /* ok */

#zzz.off {
    opacity: 0;
} /* ok */

#calc_result_content_container {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    opacity: 0;
    transition-duration: 200ms;
} /* ok */

#calc_result_content_container.on {
    opacity: 100%;
} /* ok */

#calc_result_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
} /* ok */

#calc_result_text {
    width: 100%;
    margin: 20px 0;
    padding: 0 5px;
    font-family: arial;
    font-size: 3em;
    font-weight: bold;
    color: rgb(116, 0, 161);
    white-space: nowrap;
    text-align: center;
    overflow-x: auto;
} /* ok */

#calc_result_text::-webkit-scrollbar {
    height: 7px;
    border-radius: 20px;
    background-color: #a3a3a3;
} /* ok */

#calc_result_text::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(133, 8, 190);
} /* ok */

#calc_result_text::-webkit-scrollbar-thumb:active {
    background-color: rgb(174, 0, 255);
} /* ok */

#calc_result_more_info_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
    padding: 0 10px;
    margin: 0 10px;
    border-left: 3px solid rgba(0, 0, 0, 0.61);
} /* ok */

#calc_result_more_info_box label {
    position: relative;
    top: 4px;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    font-size: 0.92em;
    font-weight: bold;
    color: rgba(70, 70, 70, 0.986);
} /* ok */

.calc-result-more-info-text {
    width: 100%;
    margin: 0 5px;
    font-family: arial;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(124, 0, 173);
    white-space: nowrap;
    text-align: start;
    overflow-x: auto;
} /* ok */

.calc_more_info_text::-webkit-scrollbar {
    height: 6px;
    border-radius: 20px;
    background-color: #cacaca;
} /* ok */

.calc_more_info_text::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(133, 133, 133);
} /* ok */

.calc_more_info_text::-webkit-scrollbar-thumb:active {
    background-color: rgb(174, 0, 255);
} /* ok */

/* LABEL FLOAT */

.label-float {
    position: relative;
    width: 100%;
    padding-top: 5px;
} /* ok */

.multiple-input-box .label-float {
    flex-grow: 1;
} /* ok */

.multiple-input-box .label-float:nth-child(1) {
    margin-right: 10px;
} /* ok */

.multiple-input-box .label-float:nth-child(2), .multiple-input-box .label-float:nth-child(3) {
    margin-left: 10px;
} /* ok */

button[type="submit"]:disabled {
    cursor: default !important;
    opacity: 70% !important;
}

button[type="submit"]:disabled:hover {
    transform: none !important;
}

button[type="submit"]:disabled:active {
    transform: none !important;
}

/* LABEL FLOAT LABEL */

.label-float label {
    position: absolute;
    display: block;
    pointer-events: none;
    top: 0;
    left: 0;
    max-width: 80%;
    margin-top: 24px;
    margin-left: 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(97, 96, 96);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin 200ms ease-out, color 0ms ease-out, font-size 200ms ease-out;
} /* ok */

.label-float input:focus + label {
    margin-top: 4px;
    font-size: 0.85em;
    margin-left: 2px;
    color: #2a00e7;
} /* ok */

.label-float input:not(:placeholder-shown) + label {
    margin-top: 4px;
    margin-left: 2px;
    font-size: 0.85em;
} /* ok */

/* LABEL FLOAT INPUT */

.label-float input {
    width: 100%;
    min-width: 100%;
    height: 30px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.1em;
    font-family: arial;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(151, 151, 151);
    padding: 0 10px;
    padding-top: 1px;
    -webkit-appearance: none;
} /* ok */

.label-float input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
}

.label-float input::placeholder {
    color: transparent;
} /* ok */

.label-float input:focus {
    border-bottom: 2px solid rgb(9, 0, 134);
} /* ok */

.label-float input:-webkit-autofill {
    box-shadow: 0 0 0 30px rgb(255, 255, 255) inset;
} /* ok */

.label-float input:-webkit-autofill {
    -webkit-text-fill-color: rgb(0, 0, 0);
} /* ok */

/* FOOTER */

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: transparent;
    background-color: transparent;
} /* ok */

/* CLIPBOARD ICON */

[type="sorteio"] .clipboard-icon-box {
    padding: 7px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.801);
} /* ok */

.clipboard-icon-box {
    align-self: flex-end;
} /* ok */

.clipboard-icon {
    display: block;
    cursor: pointer;
    width: 30px;
    transition-duration: 200ms;
} /* ok */

#login_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.527);
}
#login_container form {
    display: flex;
    flex-direction: row;
    width: 600px;
    max-width: 100%;
    height: 70%;
    border-radius: 25px;
    background-color: white;
    overflow: hidden;
}
#login_container form .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
}
#login_container form .box:last-child {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#login_container.login form .box:last-child {
    background-image: url('../images/background/background_login.jpg');
}
#login_container.signup form .box:last-child {
    background-image: url('../images/background/background_signup.jpg');
}
#login_container form .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#login_container form .header span {
    font-family: arial;
    font-size: 1.4em;
    font-weight: bold;
    color: black
}

#login_container form .header .x {
    cursor: pointer;
    height: 15px;
}

#login_container form .input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 20px;
}
#login_container form button[type="submit"] {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, blue, purple);
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
    color: white;
    transition-duration: 200ms;
}

#login_container form button[type="submit"]:hover {
    transform: translateY(-5px);
}

#login_container form button[type="submit"]:active {
    transform: translateY(2px)
}

#login_container form button.change {
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, green, rgb(0, 122, 0));
    font-family: arial;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    transition-duration: 200ms;
}

#login_container form button.change:hover {
    transform: translateY(-2px);
}
#login_container form button.change:active {
    transform: translateY(2px)
}

@media (min-width: 500px) {
    @media (max-height: 700px) {
        #show_result_button {
            margin: 15px;
        } /* ok */

        #show_result_button span {
            display: none;
        } /* ok */
    }
    .label-float.dark label {
        color: rgb(216, 216, 216);
    } /* ok */

    .label-float.dark input:focus + label {
        color: yellow;
    } /* ok */

    .label-float.dark input:not(:placeholder-shown) + label {
        color: yellow;
    } /* ok */

    .label-float.dark input {
        color: white;
        caret-color: yellow;
        border-bottom: 2px solid rgb(184, 184, 184);
    } /* ok */

    .label-float.dark input:focus {
        border-bottom: 2px solid rgb(151, 151, 151);
    } /* ok */

    .label-float.dark input:-webkit-autofill {
        -webkit-text-fill-color: rgb(255, 255, 255);
    } /* ok */

    #menu_list > .option.on:hover span {
        transform: rotate(-5deg)
    } /* ok */

    #menu_list > .option:hover span {
        color: blue;
        transform: translateX(8px);
    } /* ok */

    #menu_list .option .sub-option-container .option:hover {
        color: blue;
        transform: translateX(8px);
    } /* ok */
}

@media (max-width: 849px) {
    #login_container form {
        width: 400px;
    }
    #login_container form .box {
        width: 100%;
    }
    #login_container .box:last-child {
        display: none;
    }
    /* SOCIAL MEDIA */

    #social_media_box {
        flex-direction: column;
        left: 0;
        padding: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    /* SHOW RESULT BUTTON */

    #show_result_button {
        display: flex;
    }

    /* SEARCH BAR */
    
    header .icon-box.search-button {
        display: flex;
    } /* ok */

    #search_bar_form {
        position: absolute;
        display: none;
        z-index: 2;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    } /* ok */

    #search_bar {
        width: 100%;
        height: 100%;
        padding-left: 40px;
        border-radius: 0;
        font-size: 1em;
        background-color: #202020;
    } /* ok */

    #search_bar:focus {
        border: none;
    } /* ok */
    
    #search_bar ~ button[type="submit"] {
        display: none;
    } /* ok */
    
    #search_bar ~ .x {
        position: absolute;
        z-index: 1;
        margin: 0 15px;
    } /* ok */
    
    #search_bar ~ .arrow-back {
        position: absolute;
        display: block;
        right: 0;
        margin: 0 15px;
    } /* ok */

    #search_bar ~ .arrow-back > img {
        display: block;
        width: 18px;
    } /* ok */

    #datalist {
        top: 100%;
        width: 100%;
        height: 100vh;
        padding: 0;
        border-radius: 0;
        background-color: #202020;
        box-shadow: none;
        overflow-y: auto;
    } /* ok */

    #datalist::-webkit-scrollbar {
        width: 6px;
        border-radius: 20px;
        background-color: transparent;
    } /* ok */
    
    #datalist::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgb(133, 8, 190);
    } /* ok */

    #datalist::-webkit-scrollbar-thumb:active {
        background-color: rgb(174, 0, 255);
    } /* ok */

    #datalist li {
        min-height: 40px;
    } /* ok */

    #datalist li .option {
        font-size: 1em;
    } /* ok */

    /* CALC */

    /* DATA CONTAINER */

    [type="calc"] .data-container {
        width: unset !important;
    }

    /* FORM BOX */

    [type="calc"] #data_box_form {
        height: 58vh;
        min-height: 400px;
    } /* ok */
    
    #data_box_form_input {
        height: 80%;
        max-height: 100%;
    } /* ok */

    /* RESULT BOX */

    [type="calc"] #data_box_result {
        position: fixed;
        z-index: 2;
        left: 0;
        bottom: 0;
        width: 100%;
        height: unset;
        max-height: calc(100vh - 60px);
        margin: 0;
        padding: 10px;
        transform: translateY(100%);
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: white;
        scroll-behavior: smooth;
        overflow-x: hidden;
        overflow-y: auto;
        will-change: transform;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    } /* ok */

    [type="calc"] #data_box_result::-webkit-scrollbar {
        width: 6px;
        border-radius: 20px;
        background-color: transparent;
    } /* ok */
    
    [type="calc"] #data_box_result::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgb(133, 8, 190);
    } /* ok */

    [type="calc"] #data_box_result::-webkit-scrollbar-thumb:active {
        background-color: rgb(174, 0, 255);
    } /* ok */

    [type="calc"] #data_box_result::-webkit-scrollbar-track-piece:start {
        margin-top: 10px;
    }

    [type="calc"] #data_box_result .header span {
        font-size: 1.2em;
    } /* ok */

    [type="calc"] #data_box_result.on {
        transform: none;
        transition-delay: 100ms;
    } /* ok */

    #zzz {
        margin: 50px 0;
    } /* ok */

    #calc_result_text {
        margin: 50px 0;
    } /* ok */
}

/* FOR MOBILE DEVICES */

@media (max-width: 499px) {
    *::-webkit-scrollbar {
        width: 0px !important;
        height: 0px !important;
        background-color: transparent;
    }
    body {
        background-image: none !important;
        background-color: #202020;
    }
    [theme='dark'] {
        background-color: #202020 !important;
    }
    [theme='light'] {
        background-color: #ffffff !important;
    }

    [theme='dark'] .text-tm-ifc {
        color: #ffffff !important;
    }
    [theme='light'] .text-tm-ifc {
        color: rgb(24, 24, 24) !important;
    }

    [theme='dark'] .text-tm-ifc-hard {
        color: #ffffff !important;
    }
    [theme='light'] .text-tm-ifc-hard {
        color: #000000 !important;
    }

    [theme='dark'] .div-tm-ifc-hard {
        background-color: #000000 !important;
    }
    [theme='light'] .div-tm-ifc-hard {
        background-color: #ffffff !important;
    }

    [theme='dark'] .div-tm-ifc {
        background-color: #202020 !important;
    }
    [theme='light'] .div-tm-ifc {
        background-color: #ffffff !important;
    }
    [theme='light'] .img-tm-ifc {
        filter: invert() !important;
    }

    body::after {
        content: none;
    }
    [theme='light'] header > .header .icon-box img {
        filter: invert(1);
    }
    [theme="light"] #loading_bar {
        background-color: blue;
    }
    [theme="dark"] #loading_bar {
        background-color: yellow;
    }
    #social_media_box {
        display: none;
    }
    main {
        padding-top: 55px;
    }
    [type="calc"] #data_box_form .divisor {
        display: block;
    }

    .data-box .header span, .data-box .header h1 {
        margin-left: 0;
    } /* ok */

    #theme_switch_box {
        opacity: 100%;
        pointer-events: all;
    }

    #calc_option {
        overflow-x: auto;
    }

    #calc_option .control-button {
        position: fixed;
        top: unset;
    }

    #calc_option .control-button img {
        display: none;
    }

    #pre_choice {
        opacity: 0;
        visibility: hidden;
        border-bottom: none;
        overflow-x: auto;
    }
    #pre_choice_mover .option {
        font-size: 1em;
    }
    [theme="dark"] #pre_choice_mover .option {
        border: 1px solid #535353;
        background-color: #333333;
        color: rgb(230, 230, 230);
    }

    [theme="light"] #pre_choice_mover .option {
        border: 1px solid rgb(209, 209, 209);
        background-color: rgb(245, 245, 245);
        color: rgb(32, 32, 32);
    }

    #pre_choice .control-button img {
        display: none;
    }
    
    [theme="dark"] #pre_choice_control_buttonl_box {
        background-image: linear-gradient(to right, #202020, #202020, transparent);
    }

    [theme="dark"] #pre_choice_control_buttonr_box {
        background-image: linear-gradient(to left, #202020, #202020, transparent);
    }
    
    [theme="light"] #pre_choice_control_buttonl_box {
        background-image: linear-gradient(to right, white, white, transparent);
    }

    [theme="light"] #pre_choice_control_buttonr_box {
        background-image: linear-gradient(to left, white, white, transparent);
    }
    #show_result_button {
        position: relative;
        width: 100%;
        padding: 12px 15px;
        margin: 0;
    }
    .label-float {
        padding-top: 10px !important;
    }
    .label-float input {
        height: 45px !important;
        border-radius: 10px;
        border-bottom: none !important;
        padding: 0 20px !important;
    }
    [theme='dark'] .label-float input {
        background-color: rgb(68, 68, 68) !important;
        color: rgb(255, 255, 255) !important;
        caret-color: yellow;
    }
    [theme='light'] .label-float input {
        border: 1px solid rgb(223, 223, 223) !important;
        background-color: rgb(245, 246, 250) !important;
        color: rgb(0, 0, 0) !important;
        caret-color: blue;
    }
    .label-float label {
        margin-top: 35px !important;
        margin-left: 15px !important;
    }
    [theme='dark'] .label-float label {
        color: rgb(216, 216, 216);
    }
    [theme='light'] .label-float label {
        color: rgb(22, 22, 22);
    }
    .label-float input:focus + label {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    [theme='dark'] .label-float input:focus + label {
        color: yellow !important;
    }
    [theme='light'] .label-float input:focus + label {
        color: blue !important;
    }
    .label-float input:not(:placeholder-shown) + label {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    [theme='dark'] .label-float input:not(:placeholder-shown) + label {
        color: yellow !important;
    }
    [theme='light'] .label-float input:not(:placeholder-shown) + label {
        color: blue !important;
    }
    #calc_option {
        width: 100%;
    }
    [theme='dark'] #calc_option_control_buttonl_box {
        background-image: linear-gradient(to right, #202020, #202020, transparent);
    }
    [theme='light'] #calc_option_control_buttonl_box {
        background-image: linear-gradient(to right, #ffffff, #ffffff, transparent);
    }
    [theme='dark'] #calc_option_control_buttonr_box {
        background-image: linear-gradient(to left, #202020, #202020, transparent);
    }
    [theme='light'] #calc_option_control_buttonr_box {
        background-image: linear-gradient(to left, #ffffff, #ffffff, transparent);
    }
    #search_bar {
        background-color: #202020 !important;
    }
    #search_bar_form {
        /* padding: 0 10px; */
        height: 55px !important;
    }
    #search_bar_form button[type="submit"] {
        width: 18px;
        margin: 0 10px !important;
        height: 100% !important;
    }
    #search_bar_form button[type="submit"] img {
        width: 18px !important;
        margin: 0 !important;
    }
    #datalist {
        box-shadow: none !important;
        top: 55px !important;
    }
    
    [theme='dark'] #datalist li span {
        color: white;
    }
    [theme='light'] #datalist li span {
        color: rgb(0, 0, 0);
    }
    [theme='light'] #search_bar_form img {
        filter: invert(1);
    }
    #datalist .sub-option-container .option {
        font-size: 0.9em !important;
    }
    [theme='dark'] #datalist .sub-option-container .option {
        border: 1px solid #535353;
        background-color: #333333;
        color: rgb(230, 230, 230);
    }
    [theme='light'] #datalist .sub-option-container .option {
        border: 1px solid rgb(209, 209, 209);
        background-color: rgb(245, 245, 245);
        color: rgb(32, 32, 32);
    }
    #calc_option_mover .option {
        padding: 5px 15px;
        font-size: 0.9em;
    }
    [theme='dark'] #calc_option_mover .option {
        border: 1px solid #535353;
        background-color: #333333;
        color: rgb(230, 230, 230);
    }
    [theme='light'] #calc_option_mover .option {
        border: 1px solid rgb(209, 209, 209);
        background-color: rgb(245, 245, 245);
        color: rgb(32, 32, 32);
    }
    header > .header {
        height: 55px;
        border-bottom: none;
    }
    [theme='dark'] header > .header {
        background-color: #202020;
    }
    [theme='light'] header > .header {
        background-color: white;
    }
    header {
        box-shadow: none;
    }
    #data_box_form_input {
        justify-content: space-evenly;
    }
    [theme="light"] #logo {
        background-image: url('../images/logo/SVG/full_logo_dark.svg');
    }
    [theme="dark"] #logo {
        background-image: url('../images/logo/SVG/full_logo_light.svg');
    }
    #calculate_button {
        height: 35px;
        min-height: 35px;
        border-radius: 20px;
    }
    .switch-label {
        color: white;
    }
    [theme='dark'] .switch-label {
        color: rgb(212, 212, 212);
    }
    [theme='light'] .switch-label {
        color: rgb(46, 46, 46);
    }
    .data-container {
        height: 100%;
        max-width: 100%;
        padding: 15px;
        padding-top: 10px;
        margin: 0;
    }

    .data-box .header h1 {
        font-size: 1.8em;
    }

    [type="calc"] #data_box_form {
        height: 100%;
    }
    #data_box_form {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        background-color: #20202000;
        border-radius: 0;
        box-shadow: none;
    }
    #login_container form {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}