<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="rgba(31, 31, 31)"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascript/index.js" type="module"></script>
    <title>CalcBro</title>
    <link rel="icon" href="/images/logo/SVG/logo_icon.svg" type="image/x-icon" />
</head>
<body theme="light">
    <div id="load_blocker"></div>
    {{> header }}
    <main>
        {{{ body }}}
    </main>
    {{> footer }}
</body>
</html>