<footer>
    <div id="social_media_box">
        <a href="https://www.instagram.com/rafaelfunchal_/" target="_blank"><img class="animate__animated animate__shakeX" src="/images/social/instagram_icon.svg" alt=""></a>
        <img src="/images/social/twitter_icon.svg" alt="">
        <img src="/images/social/linkedin_icon.svg" alt="">
    </div>
    <section>v1.0.0</section>
</footer>