<footer>
    <div id="social_media_box">
        <a href="https://www.instagram.com/rafaelfunchal_/" target="_blank"><img class="animate__animated animate__shakeX" src="/images/social/instagram_icon.svg" alt=""></a>
        <a href="https://twitter.com/funchaal_" target="_blank"><img src="/images/social/twitter_icon.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/rafael-funchal/" target="_blank"><img src="/images/social/linkedin_icon.svg" alt=""></a>
    </div>
    <div>v1.0.0</div>
</footer>