 <header>
    <div class="header div-tm-ifc">
        <div class="left-side side">
            <a href="/" id="logo"></a>
        </div>
        <form id="search_bar_form">
            <input list="search" type="search" name="" id="search_bar" class="div-tm-ifc text-tm-ifc" placeholder="Search..." autocomplete="off">
            <button type="submit">
                <img src="/images/icons/lupa/lupa.svg" class="img-tm-ifc" alt="">
                <img src="/images/icons/arrow/arrow.svg" class="img-tm-ifc" alt="">
            </button>
            <div class="x">
                <img src="/images/icons/x/x_light.svg" class="img-tm-ifc" alt="">
            </div>
            <div class="arrow-back">
                <img src="/images/icons/arrow/arrow.svg" alt="">
            </div>
            <div id="datalist" class="div-tm-ifc">
                <ul>
                </ul>
            </div>
        </form>
        <div class="right-side side">
            <div class="icon-box login">
                <button type="button" class="cb-state">login
                    <img src="/images/icons/loading/loading.svg" class="loading" alt="">
                </button>
            </div>
            <div class="icon-box search-button">
                <img src="/images/icons/lupa/lupa.svg" class="img-tm-ifc" alt="">
            </div>
            <div id="menu_icon_box" class="icon-box">
                <div class="line img-tm-ifc"></div>
                <div class="line img-tm-ifc"></div>
                <div class="line img-tm-ifc"></div>
            </div>
            <div id="menu_container" class="side-menu div-tm-ifc-hard">
                <label id="theme_switch_box" class="switch">
                    <input type="checkbox" id="theme_switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <nav id="pre_choice" class="div-tm-ifc">
        <div id="pre_choice_mover"></div>
        <div id="pre_choice_control_buttonr_box" class="control-button"><img id="pre_choice_control_buttonr" class="arrow-thin" src="/images/icons/arrow/arrow_thin_light.svg" alt=""></div>
        <div id="pre_choice_control_buttonl_box" class="control-button"><img id="pre_choice_control_buttonl" class="arrow-thin" src="/images/icons/arrow/arrow_thin_light.svg" alt=""></div>
    </nav>
</header>