 <header>
    <div class="header">
        <div class="left-side side">
            <a href="/" id="logo"></a>
        </div>
        <form id="search_bar_form">
            <input list="search" type="search" name="" id="search_bar" placeholder="Search..." autocomplete="off">
            <button type="submit">
                <img src="/images/icons/lupa/lupa.svg" alt="">
                <img src="/images/icons/arrow/arrow.svg" alt="">
            </button>
            <div class="x">
                <img src="/images/icons/x/x_light.svg" alt="">
            </div>
            <div class="arrow-back">
                <img src="/images/icons/arrow/arrow.svg" alt="">
            </div>
            <div id="datalist" class="datalist">
                <ul>
                </ul>
            </div>
        </form>
        <div class="right-side side">
            <div class="icon-box search-button">
                <img src="/images/icons/lupa/lupa.svg" alt="">
            </div>
            <div id="menu_container">
                <label class="switch" id="theme_switch_box">
                    <input type="checkbox" id="theme_switch">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="icon-box">
                <div id="menu_icon_box">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="pre_choice">
        <div id="pre_choice_mover">
            <button link="/regra-de-3/simples" class="option">Regra de 3</button>
            <button link="/porcentagem/1" class="option">Porcentagem</button>
            <button link="/notacao-cientifica" class="option">Notação científica</button>
            <button link="/simplificar-fracao" class="option">Simplificar fração</button>
            <button link="/circulo" class="option">Circulo</button>
            <button link="/progressao-geometrica/gerar" class="option">Progressão geométrica</button>
            <button link="/trapezio/area" class="option">Trapézio</button>
            <button link="/raiz" class="option">Raiz</button>
            <button link="/potencia" class="option">Potência</button>
            <button link="/progressao-aritmetica/gerar" class="option">Progressão aritmética</button>
            <button link="/trigonometria/hipotenusa" class="option">Trigonometria</button>
            <button link="/poligono/apotema" class="option">Polígono</button>
            <button link="/retangulo/area" class="option">Retângulo</button>
            <button link="/equacao-2-grau" class="option">Equação 2º</button>
            <button link="/mmc" class="option">M.M.C.</button>
            <button link="/mdc" class="option">Lozango</button>
            <button link="/piramide/volume" class="option">Pirâmide</button>
            <button link="/mdc" class="option">M.D.C.</button>
        </div>
        <div id="pre_choice_buttonr_box" class="button"><img id="pre_choice_buttonr" class="arrow-thin" src="/images/icons/arrow/arrow_thin_light.svg" alt=""></div>
        <div id="pre_choice_buttonl_box" class="button"><img id="pre_choice_buttonl" class="arrow-thin" src="/images/icons/arrow/arrow_thin_light.svg" alt=""></div>
    </div>
</header>