<div id="main_container" type="sorteio">
    <div class="data-container">
        <div class="data-box" id="data_box_result" type="show">
            <div class="header">
                <h1 class="text-tm-ifc-hard">Sorteio</h1>
            </div>
            <span id="zzz">zzz</span>
            <div id="calc_result_content_container">
                <div id="calc_result_text_box">
                    <span id="calc_result_text"></span>
                </div>
            </div>
            <div class="clipboard-icon-box">
                <img copy-element="calc_result_text" class="clipboard-icon" src="/images/icons/clipboard/clipboard.svg">
            </div>
        </div>
        <form class="data-box" id="data_box_form">
            <div class="header">
                <span>Ajuste</span>
                <nav id="calc_option">
                    <ul id="calc_option_mover">
                        <li><button type="button" class="option" link="/sorteio/sorteio-de-numeros">Sorteio de números</button></li>
                        <li><button type="button" class="option on" link="/sorteio/sorteio-de-elementos">Sorteio de elementos</button></li>
                    </ul>
                    <div id="calc_option_control_buttonl_box" class="control-button"><img id="calc_option_control_buttonl" class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                    <div id="calc_option_control_buttonr_box" class="control-button"><img id="calc_option_control_buttonr" class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                </nav>
            </div>
            <div class="input-container">
                <div class="box">
                    <div class="label-float">
                        <input type="text" id="valor_1" class="calc-input" autocomplete="off" placeholder=" " required>    
                        <label>Elementos separados por vírgula </label>
                    </div>
                    <div class="label-float">
                        <input type="number" step="1" id="valor_2" class="calc-input" autocomplete="off" placeholder=" " required>    
                        <label>Quantidade de elementos </label>
                    </div>
                </div>
                <div class="divisor"></div>
                <div class="box">
                    <div class="switch-box">
                        <span class="switch-label">Repetido</span>
                        <label class="switch">
                            <input class="calc-input" type="checkbox" id="valor_3">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" id="calculate_button" class="btn-main btn" form="data_box_form">Sortear</button>
        </form>
    </div>
</div>
<style>
    #show_result_button {
        display: none;
    }
    [type="sorteio"] .data-container {
        display: flex;
        flex-direction: column;
        justify-items: space-around;
        align-items: center;
        width: 100vw;
        height: 100%;
        min-height: 500px;
        margin: 0;
    }
    [type="sorteio"] .data-box .header h1 {
        margin-top: 10px;
        font-size: 2.2em;
        color: white;
    }
    [type="sorteio"] #data_box_form {
        width: 700px;
        height: 300px;
        margin-bottom: 40px;
        border-radius: 30px;
    }
    [type="sorteio"] #data_box_form .input-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    [type="sorteio"] #data_box_form .input-container .box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    [type="sorteio"] #data_box_form .input-container .box:first-child {
        width: 60%;
    }
    [type="sorteio"] #data_box_form .input-container .box:last-child {
        flex-grow: 1;
    }
    [type="sorteio"] #data_box_result {
        width: 100%;
        height: unset;
        flex-grow: 1;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        overflow-x: visible;
    }
    [type="sorteio"] #zzz {
        font-size: 5em;
        color: white;
        margin: 0;
    }
    [type="sorteio"] #calc_result_text {
        font-size: 5em;
        color: white;
        margin: 0;
    }
    [type="sorteio"] #calc_result_text::-webkit-scrollbar {
        height: 10px;
    }
    [type="sorteio"] .divisor {
        width: 3px;
        height: 90%;
        border-radius: 10px;
        background-color: rgb(100, 100, 100);
        margin-left: 40px;
    }
    @media(max-width: 499px) {
        [type="sorteio"] .data-box .header h1 {
            margin-top: 0;
            font-size: 1.8em;
        }
        [type="sorteio"] #data_box_form {
            height: 70%;
            margin: 0;
            background-color: transparent;
            box-shadow: none;
        }
        [type="sorteio"] #data_box_form .input-container .box:first-child {
            width: 100%;
            height: 60%;
        }
        [type="sorteio"] #data_box_form .input-container {
            flex-direction: column;
            align-items: center
        }
        [type="sorteio"] #data_box_form .input-container .box:last-child {
            flex-direction: row;
            height: unset;
            width: 100%;
        }
        [type="sorteio"] #zzz {
            font-size: 3em;
        }
        [type="sorteio"] #calc_result_text {
            font-size: 3em;
        }
        [type="sorteio"] .divisor {
            display: block;
            width: 90%;
            height: 3px;
            margin-left: 0;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        [theme="dark"] [type="sorteio"] .data-box .header h1 {
            color: white;
        }
        [theme="light"] [type="sorteio"] .data-box .header h1 {
            color: black;
        }
        [theme="dark"] [type="sorteio"] .data-box .header span {
            color: white;
        }
        [theme="light"] [type="sorteio"] .data-box .header span {
            color: black;
        }
        [theme='dark'] [type="sorteio"] #zzz {
            color: white;
        }
        [theme='light'] [type="sorteio"] #zzz {
            color: rgb(116, 0, 161);
        }
        [theme='dark'] [type="sorteio"] #calc_result_text {
            color: white;
        }
        [theme='light'] [type="sorteio"] #calc_result_text {
            color: rgb(116, 0, 161);
        }
    }
</style>