<div id="main_container" type="calc">
    <div class="data-container">
        <form id="data_box_form" class="data-box calc-data-box-form">
            <div class="header">
                <h1>Cone</h1>
                <nav id="calc_option">
                    <ul id="calc_option_mover">
                        <li><button type="button" class="option"link="/cone/volume">Volume</button></li>
                        <li><button type="button" class="option"link="/cone/altura">Altura</button></li>
                        <li><button type="button" class="option on" link="/cone/area-total">Área total</button></li>
                        <li><button type="button" class="option"link="/cone/area-lateral">Área lateral</button></li>
                        <li><button type="button" class="option"link="/cone/geratriz">Geratriz</button></li>
                    </ul>
                    <div id="calc_option_control_buttonl_box" class="control-button"><img id="calc_option_control_buttonl" class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                    <div id="calc_option_control_buttonr_box" class="control-button"><img id="calc_option_control_buttonr" class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                </nav>
            </div>
            <div id="data_box_form_input">
                <div class="multiple-input-box">
                    <div class="label-float">
                        <input type="number" step="any" min="0" id="valor_1" class="calc-input" autocomplete="off" placeholder=" " required>    
                        <label>Raio </label>
                    </div>
                    <div class="label-float">
                        <input type="number" step="any" min="0" id="valor_2" class="calc-input" autocomplete="off" placeholder=" " required>    
                        <label>Geratriz </label>
                    </div>
                </div>
                <div class="label-float">
                    <input type="number" step="any" min="0" id="valor_3" class="calc-input" autocomplete="off" placeholder=" ">    
                    <label>Aproximação de Pi (opicional) </label>
                </div>
            </div>
            <button type="submit" id="calculate_button" form="data_box_form">Calcular</button>
        </form>
        <div id="data_box_result" type="hide" class="data-box">
            <div class="header">
                <span>Resultado</span>
            </div>
            <span id="zzz">zzz</span>
            <div id="calc_result_content_container">
                <div id="calc_result_text_box">
                    <span id="calc_result_text"></span>
                </div>
            </div>
            <div class="clipboard-icon-box">
                <img copy-element="calc_result_text" class="clipboard-icon" src="/images/icons/clipboard/clipboard.svg">
            </div>
        </div>
    </div>
</div>