<div id="main_container">
    <div class="data-container">
        <form id="data_box_form" class="data-box calc-data-box-form">
            <section class="header">
                <span>Cone</span>
                <div id="calc_option">
                    <ul>
                        <li><button type="button" link="/cone/volume">Volume</button></li>
                        <li><button type="button" link="/cone/altura">Altura</button></li>
                        <li><button type="button" link="/cone/area-total">Área total</button></li>
                        <li><button type="button" link="/cone/area-lateral">Área lateral</button></li>
                        <li><button type="button" class="on" link="/cone/geratriz">Geratriz</button></li>
                    </ul>
                    <div id="calc_option_button_left" class="button"><img class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                    <div id="calc_option_button_right" class="button"><img class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                </div>
            </section>
            <div id="data_box_form_input">
                <section class="calc-multiple-input-container">
                    <div class="label-float">
                        <input type="number" step="any" id="valor_1" class="calc-input" autocomplete="off" placeholder=" " required>    
                        <label>Raio da base </label>
                    </div>
                    <span class="or-input-separation">ou</span>
                    <div class="label-float">
                        <input type="number" step="any" id="valor_2" class="calc-input" autocomplete="off" placeholder=" " required>    
                        <label>Área da base </label>
                    </div>
                </section>
                <div class="label-float">
                    <input type="number" step="any" id="valor_3" class="calc-input" autocomplete="off" placeholder=" " required>    
                    <label>Altura </label>
                </div>
                <div class="label-float">
                    <input type="number" step="any" id="valor_4" class="calc-input" autocomplete="off" placeholder=" " required>    
                    <label>Aproximação de Pi (opicional) </label>
                </div>
            </div>
            <button type="submit" id="calc_button_calculate" form="data_box_form">Calcular</button>
        </form>
        <div id="data_box_result" class="data-box">
            <section class="header">
                <span>Resultado</span>
            </section>
            <span id="zzz">zzz</span>
            <div id="calc_result_content_container">
                <div id="calc_result_text_box">
                    <span id="calc_result_text"></span>
                </div>
            </div>
            <img copy-element="calc_result_text" class="clipboard-icon" src="/images/icons/clipboard/clipboard.svg">
        </div>
    </div>
</div>