<div id="main_container" type="calc">
    <div class="data-container">
        <form id="data_box_form" class="data-box div-tm-ifc calc-data-box-form">
            <div class="header">
                <h1 class="text-tm-ifc-hard">Estatística</h1>
                <nav id="calc_option">
                    <ul id="calc_option_mover">
                        <li><button type="button" class="option"link="/estatistica/media">Média</button></li>
                        <li><button type="button" class="option on" link="/estatistica/mediana">Mediana</button></li>
                        <li><button type="button" class="option"link="/estatistica/moda">Moda</button></li>
                        <li><button type="button" class="option"link="/estatistica/variante">Variante</button></li>
                        <li><button type="button" class="option"link="/estatistica/desvio-padrao">Desvio padrão</button></li>
                    </ul>
                    <div id="calc_option_control_buttonl_box" class="control-button"><img id="calc_option_control_buttonl" class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                    <div id="calc_option_control_buttonr_box" class="control-button"><img id="calc_option_control_buttonr" class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                </nav>
            </div>
            <div id="data_box_form_input">
                <div class="label-float">
                    <input type="text" id="valor_1" class="calc-input" autocomplete="off" placeholder=" " required>    
                    <label>Valores separados por vírgula </label>
                </div>
            </div>
        <button type="submit" id="calculate_button" form="data_box_form">Calcular</button>
        </form>
        <div id="data_box_result" type="hide" class="data-box">
            <div class="header">
                <span>Resultado</span>
            </div>
            <span id="zzz">zzz</span>
            <div id="calc_result_content_container">
                <div id="calc_result_text_box">
                    <span id="calc_result_text"></span>
                </div>
                <div id="calc_result_more_info_box">
                    <label for="calc_more_info_text_1">Média: </label>
                    <span id="calc_more_info_text_1" class="calc-result-more-info-text"></span>
                    <label for="calc_more_info_text_2">Moda: </label>
                    <span id="calc_more_info_text_2" class="calc-result-more-info-text"></span>
                </div>
            </div>
            <div class="clipboard-icon-box">
                <img copy-element="calc_result_text" class="clipboard-icon" src="/images/icons/clipboard/clipboard.svg">
            </div>
        </div>
    </div>
</div>