<div id="main_container">
    <div class="data-container">
        <form id="data_box_form" class="data-box calc-data-box-form">
            <section class="header">
                <span>Estatística</span>
                <div id="calc_option">
                    <ul>
                        <li><button type="button" link="/estatistica/media">Média</button></li>
                        <li><button type="button" link="/estatistica/mediana">Mediana</button></li>
                        <li><button type="button" class="on" link="/estatistica/moda">Moda</button></li>
                        <li><button type="button" link="/estatistica/variante">Variante</button></li>
                        <li><button type="button" link="/estatistica/desvio-padrao">Desvio padrão</button></li>
                    </ul>
                    <div id="calc_option_button_left" class="button"><img class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                    <div id="calc_option_button_right" class="button"><img class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                </div>
            </section>
            <div id="data_box_form_input">
                <div class="label-float">
                    <input type="text" id="valor_1" class="calc-input" autocomplete="off" placeholder=" " required>    
                    <label>Valores separados por vírgula </label>
                </div>
            </div>
        <button type="submit" id="calc_button_calculate" form="data_box_form">Calcular</button>
        </form>
        <div id="data_box_result" class="data-box">
            <section class="header">
                <span>Resultado</span>
            </section>
            <span id="zzz">zzz</span>
            <div id="calc_result_content_container">
                <div id="calc_result_text_box">
                    <span id="calc_result_text"></span>
                </div>
                <div id="calc_result_more_info_box">
                    <label for="calc_more_info_text_1">Média: </label>
                    <span id="calc_more_info_text_1" class="calc-result-more-info-text"></span>
                    <label for="calc_more_info_text_2">Mediana: </label>
                    <span id="calc_more_info_text_2" class="calc-result-more-info-text"></span>
                </div>
            </div>
            <img copy-element="calc_result_text" class="clipboard-icon" src="/images/icons/clipboard/clipboard.svg">
        </div>
    </div>
</div>