<div id="main_container" type="home">
    <div class="title-container">
        <span class="animate__animated animate__slideInUp">Escolhe <br>alguma coisa...</span>
    </div>
    <div class="bottom-container">
        <a href="https://github.com/funchaal/CalcBro" target="_blank">
            <button id="github_button">
                <span>Ver projeto no github</span>
                <div>
                    <img src="/images/social/github_icon.svg" alt="">
                </div>
            </button>
        </a>
        <img src="/images/background/cute_ete_low_low.png" alt="" id="cute_ete">
    </div>
</div>
<style>
    #pre_choice {
        opacity: 100%;
        visibility: visible;
    }
    #show_result_button {
        display: none;
    }
    #social_media_box {
        display: flex;
        background-color: transparent;
        left: unset;
        right: 15px;
        bottom: 15px;
    }
    body::after {
        top: 60%;
        left: -50vw;
        height: 60%;
        width: 200vw;
        transform: rotate(-5deg);
        box-shadow: 0px 0px 10px 1px #00000079;
    }
    #main_container[type="home"] {
        align-items: flex-start;
        min-height: 680px;
    }
    #github_button {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 150;
        cursor: pointer;
        bottom: 0;
        left: 0;
        height: 40px;
        margin: 20px;
        padding: 15px;
        padding-right: 10px;
        border-radius: 15px;
        background-color: rgb(36, 36, 36);
        background-image: linear-gradient(to bottom right, rgb(36, 36, 36), rgb(10, 10, 10));
        box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.301);
    }
    #github_button span {
        display: block;
        margin-right: 20px;
        font-family: arial;
        font-size: 1em;
        font-weight: bold;
        color: white;
    }
    #github_button div {
        padding: 3px;
        border-radius: 50%;
        background-color: white;
    }
    #github_button div img {
        display: block;
        height: 22px;
    }
    [type="home"] .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 100vw;
        height: 50%;
        padding: 40px;
    }
    [type="home"] .bottom-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        flex-grow: 1;
        width: 100%;
    }
    [type="home"] .title-container span {
        display: block;
        margin-left: 2vw;
        font-family: arial;
        margin-right: 80px;
        font-size: 4.5em;
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }
    #cute_ete {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 500px;
        max-width: 100vw;
    }
    @media (max-width: 849px) {
        #github_button {
            padding: 10px;
        }
        #github_button span {
            display: none;
        }
    }
    @media (max-width: 499px) {
        #github_button {
            background-color: white;
            background-image: linear-gradient(to bottom right, white, rgb(68, 68, 68));
        }
        #github_button div {
            background-color: transparent;
        }
        [type="home"] .title-container span {
            font-size: 4em;
            margin-top: 20px;
            margin-left: 0;
        }
        [theme="dark"] [type="home"] .title-container span {
            color: rgb(255, 255, 255);
        }
        [theme="light"] [type="home"] .title-container span {
            color: rgb(26, 26, 26)
        }
    }
</style>