<div class="home-main-container">
    <div class="home-text-container">
        <span class="animate__animated animate__slideInUp">Escolhe alguma coisa...</span>
    </div>
    <div class="home-bottom-container">
        <p>
        </p>
    </div>
</div>
<style>
    body::after {
        top: 60%;
        left: -100px;
        height: 60%;
        width: 120vw;
        transform: rotate(-5deg);
        box-shadow: 0px 0px 10px 1px #00000079;
    }
    .home-main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 85px;
        width: 100vw;
        height: 100%;
    }
    .home-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 100vw;
        height: 50%;
        padding: 40px;
    }
    .home-bottom-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        flex-grow: 1;
        width: 100%;
        padding: 20px;
    }
    .home-text-container span {
        font-family: arial;
        font-size: 5em;
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }
    .home-bottom-container p {
        max-width: 100vw;
        width: 500px;
        height: 70%;
        background-color: rgba(0, 0, 0, 0.897);
        padding: 20px;
        border-radius: 20px;
        font-family: arial;
        font-size: 1.3em;
        color: rgb(255, 255, 255);
    }
    .home-lateral-container {
        height: 100%;
        width: 300px;
        background-color: rgb(255, 255, 255);
        display: none;
    }
</style>