<div id="main_container" type="calc">
    <div class="data-container">
        <form id="data_box_form" class="data-box div-tm-ifc calc-data-box-form">
            <div class="header">
                <h1 class="text-tm-ifc-hard">Progressão geométrica</h1>
                <nav id="calc_option">
                    <ul id="calc_option_mover">
                        <li><button type="button" class="option"link="/progressao-geometrica/gerar">Gerar</button></li>
                        <li><button type="button" class="option"link="/progressao-geometrica/localizar">Localizar</button></li>
                        <li><button type="button" class="option on" link="/progressao-geometrica/posicao">Posição</button></li>
                        <li><button type="button" class="option"link="/progressao-geometrica/razao">Razão</button></li>
                    </ul>
                    <div id="calc_option_control_buttonl_box" class="control-button"><img id="calc_option_control_buttonl" class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                    <div id="calc_option_control_buttonr_box" class="control-button"><img id="calc_option_control_buttonr" class="arrow-thin" src="/images/icons/arrow/arrow_thin_dark.svg" alt=""></div>
                </nav>
            </div>
            <div id="data_box_form_input">
                <div class="multiple-input-box">
                    <div class="label-float">
                        <input type="number" step="1" min="0" id="valor_1" class="calc-input" autocomplete="off" placeholder=" " required>    
                        <label>Valor inicial </label>
                    </div>
                    <div class="label-float">
                        <input type="number" step="1" min="0" id="valor_2" class="calc-input" autocomplete="off" placeholder=" " required>    
                        <label>Razão </label>
                    </div>
                </div>
                <div class="label-float">
                    <input type="number" step="1" min="0" id="valor_3" class="calc-input" autocomplete="off" placeholder=" " required>    
                    <label>Posição do elemento a ser encontrado </label>
                </div>
            </div>
            <button type="submit" id="calculate_button" class="btn-main btn" form="data_box_form">Calcular</button>
        </form>
        <div id="data_box_result" type="hide" class="data-box">
            <div class="header">
                <span>Resultado</span>
            </div>
            <span id="zzz">zzz</span>
            <div id="calc_result_content_container">
                <div id="calc_result_text_box">
                    <span id="calc_result_text"></span>
                </div>
                <div id="calc_result_more_info_box">
                    <label for="calc_more_info_text_1">Progressão geométrica completa: </label>
                    <span id="calc_more_info_text_1" class="calc-result-more-info-text"></span>
                    <label for="calc_more_info_text_2">Número de elementos: </label>
                    <span id="calc_more_info_text_2" class="calc-result-more-info-text"></span>
                    <label for="calc_more_info_text_3">Soma dos elementos: </label>
                    <span id="calc_more_info_text_3" class="calc-result-more-info-text"></span>
                    <label for="calc_more_info_text_4">Razão: </label>
                    <span id="calc_more_info_text_4" class="calc-result-more-info-text"></span>
                </div>
            </div>
            <div class="clipboard-icon-box">
                <img copy-element="calc_result_text" class="clipboard-icon" src="/images/icons/clipboard/clipboard.svg">
            </div>
        </div>
    </div>
</div>