<div id="main_container" type="user_config">
    <div class="box div-tm-ifc" id="user_info">
        <div class="box">
        <div class="picture-box">
            <img src="" user-data="profilePicture" alt="" class="profile-picture">
            <img src="/images/icons/camera/camera.svg" class="change-profile-picture" alt="">
        </div>
        <span class="username text-tm-ifc" user-data="username"></span>
        <span class="fullname text-tm-ifc" user-data="fullname"></span>
            <span class="email" user-data="email"></span>
        </div>
        <div id="config_option">
            <button class="option btn btn-config text-tm-ifc" link="/user/account">
                Conta
            </button>
            <button class="option btn btn-config text-tm-ifc" link="/user/preferences">
                Preferências
            </button>
            <button class="option btn btn-config text-tm-ifc" link="/user/sessions">
                Sessões
            </button>
            <button class="option btn btn-config on text-tm-ifc" link="/user/about">
                Sobre o site
            </button>
        </div>
    </div>
    <div class="box div-tm-ifc" id="config_box">
        aiaiaiaiaiaiiaiaiaiaiaiaiaai
    </div>
    </div>
</div>
<style>
    header {
        box-shadow: none;
    }
    header > .header {
        border: none;
    }
    #show_result_button {
        display: none;
    }
    #social_media_box {
        display: none;
    }
    #pre_choice {
        display: none;
    }
    @media (min-width: 500px) {
        main {
            padding-top: 45px;
        }
    }
</style>